.App {
  text-align: center;
  color: white;
}

.App .Background {
  height: 600px;
}

.App h1 {
  position: relative;
  top:650px;
  color: white;
}
.App h3{
    position: relative;
  top: 200px;
  color: white;
}
.App p {
  position: relative;
  top:650px;
  color: white;}